button {
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #3f51b5;
  color: white;
}

/* Style the form label */
label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}
#filled-basic {
  width: 300px;
}
.MuiFormControl-root {
  margin-top: 30px !important;
}

button[type="location"] {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #3f51b5;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* Style the weather display */
h4 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}

p {
  font-size: 18px;
  margin: 10px;
}

/* Style the save checkbox */
label > span {
  font-size: 16px;
}

/* Style the checkbox icon */
.MuiSvgIcon-root {
  font-size: 32px;
}

/* Style the checkbox label */
.MuiFormControlLabel-label {
  font-size: 16px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#card {
  background-color: #d4e6e9;
  margin-bottom: 12px;
    width: 167px;
}
#searchBtn {
  margin-left: -113px;
  margin-top: 40px;
}
#faveroutsBtn {
  margin-top: 23px;
  margin-left: 14px;
}
.warp {
  align-items: center;
  display: flex;
  flex-direction: column;
}
#DisplayCelsius {
    
    font-size: 11px;
    margin-top: 11px;
}
#resultBtn{
    margin: 5px;
}
